<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hadi.trainticketing">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.application.TrainTicketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".passenger.view.activities.PassengerSignInActivity"
            android:launchMode="singleTop" />
        <activity android:name=".passenger.view.activities.ForgetPasswordActivity" />
        <activity android:name=".validator.ValidatorLoginActivity" />
        <activity
            android:name=".passenger.view.activities.PassengerSignUpActivity"
            android:parentActivityName=".passenger.view.activities.PassengerSignInActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".passenger.view.activities.PassengerSignInActivity" />
        </activity>
        <activity android:name=".passenger.view.activities.PassengerMainActivity" />
        <activity
            android:name=".passenger.view.features.BalanceActivity"
            android:parentActivityName=".passenger.view.activities.PassengerMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".passenger.view.activities.PassengerMainActivity" />
        </activity>
        <activity
            android:name=".passenger.view.features.EnquireActivity"
            android:parentActivityName=".passenger.view.activities.PassengerMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".passenger.view.activities.PassengerMainActivity" />
        </activity>
        <activity
            android:name=".passenger.view.features.HistoryActivity"
            android:parentActivityName=".passenger.view.activities.PassengerMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".passenger.view.activities.PassengerMainActivity" />
        </activity>
        <activity
            android:name=".passenger.view.features.ReserveActivity"
            android:parentActivityName=".passenger.view.activities.PassengerMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".passenger.view.activities.PassengerMainActivity" />
        </activity>
        <activity
            android:name=".passenger.view.features.TicketActivity"
            android:parentActivityName=".passenger.view.activities.PassengerMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".passenger.view.activities.PassengerMainActivity" />
        </activity>
        <activity android:name=".passenger.view.features.AddCreditCardActivity" />
        <activity android:name=".validator.view.ValidatorMainActivity" />
        <activity android:name=".passenger.view.activities.PassengerProfilePage" />
    </application>

</manifest>